a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: red;
  }
  
  a:active {
    background-color: orangered;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.flex-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
  }
  nav{
    background-color: orange;
    
    height: 75px;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    background-color: #666;
    padding: 11px;
    margin-left: auto;
    margin-right: auto;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
.div1 img{
    width: 500px;
    height: 317px;
    align-items: center;
    align-self: center;
    text-align: center;
    align-self: center;

}
.div2 .profilkep img{
    width: 20px;
    height: 40px;
}
#profilkep {
  width: 193px;
  height: 289px;
}
body{
    background-image: url(../HelperImages/flat-geometric-shapes-background_23-2148380467.webp);
}