a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: red;
  }
  
  a:active {
    background-color: orangered;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.flex-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
  }
  nav{
    background-color: orange;
    
    height: 70px;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
#profilkep {
  width: 36%;
  height: 40%;
  float: left;
  padding-left: 15px;
  margin: 15px;
}
#profilkep2 {
  width: 36%;
  height: 40%;
  float: right;
  padding-right: 20px;
  margin: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#leiras{
  width: 100%;
  height: 50%;
  border: 2px solid black;
}
#letolt{
  width: 70%;
  height: 25%;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: limegreen;
  font-size: xx-large;
  font-family:'Magneto';
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  
}
.tartalom{
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
  
  
}

.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  flex-direction: row;

}

.FlexContainer div {
  width: 45%;
  height: 100%;
  margin: 5px;
  background-color: grey;
  padding: 35px;
  border: 5px solid black;
  border-radius: 15px;
}
.example::-webkit-scrollbar {
  display: none;
}
.example {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
body{
    background-image: url(../HelperImages/flat-geometric-shapes-background_23-2148380467.webp);
    background-position: center;
      background-repeat: repeat;
      background-size: auto;
}
ul{
  list-style-type: none;
}