a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: red;
  }
  
  a:active {
    background-color: orangered;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.flex-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
  }
  nav{
    background-color: orange;
    
    height: 70px;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.container{
  align-items: center;
  align-self: center;
  align-content: center;
  margin: auto;
  padding: 150px;
}
.container div{
  background-color: #A9A9A9;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}
.example::-webkit-scrollbar {
    display: none;
  }
  .example {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  body{
      background-image: url(../HelperImages/1658703574_13-papik-pro-p-solid-background-without-13.jpg);
      background-position: center;
      background-repeat: repeat;
      background-size: auto;
      font-family: -apple-system, Arial, sans-serif;
     
  }